<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RACE" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44784545-1', 'race-rank.herokuapp.com');
      ga('send', 'pageview');

    </script>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_path %>">RACE</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "ランキング作成", new_rank_path %></li>
              <li><%= link_to "使い方", static_pages_help_path %></li>
              <li><%= link_to "DEMO", static_pages_demo_path %></li>
            </ul>
            <div class="pull-right">
              <%= link_to "English", ranks_new_en_path, class: 'btn' %>
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
<!--         <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "DEMO", "/path1"  %></li>
              <li><%= link_to "How to use", "/path2"  %></li>
            </ul>
          </div>
        </div> -->
        <div class="span12">
          <%= bootstrap_flash %>
<h1>ランキング表作成アプリ RACE の使い方</h1>
<hr>

<h3>1. ファイルの作成</h3>
1つのファイルが1つの列に対応します．<br>
<br>
ファイルの中身は<br>
item1 \t value1 \n<br>
item2 \t value2 \n<br>
item3 \t value3 \n<br>
...<br>
<br>
または<br>
item1 \t value1 \t word1-1, word1-2, word1-3, ... \n<br>
item2 \t value2 \t word2-1, word2-2, word2-3, ... \n<br>
item3 \t value3 \t word3-1, word3-2, word3-3, ... \n<br>
...<br>
<br>
が現時点で対応しています．
<br>
下記で作成した場合，itemの行をクリックした場合に word?-1 ..以下が展開されます．

<hr>
<h3>2. ファイルのアップロード</h3>
作成したファイルをアップロードフォームにアップロードしてください．<br>
アップロードフォームは複数ファイルに対応しています．<br>
複数のファイルをアップロードし，一つの表を作成することを想定しています．<br>
作成したランキング表は保存されませんのでHTML等でローカルに保存してください．<br>

<hr>
<h3>3. ランキング表の機能</h3>
<h5>Up, Down色付け</h5>
選択中のランキング表のアイテムがその他の表で順位が上昇したか，下降したか色で表示します．<br>
赤：Up<br>
青：Down<br>
黃：未出現<br>

<br>
<h5>他ランキング表でのアイテム強調表示</h5>
Shiftキーを押しながら，アイテムにマウスを重ねると他ランキング表で同アイテムが強調表示されます．<br>

<br>
<h5>アイテムクリックで内容表示（wordを使用した場合）</h5>
推薦や検索等でアイテムがどの要素で上位にランキングされたかを知るための機能です．<br>
アイテムをクリックするとword以下が展開されます．<br>

<br>
<h5>ランキング相関係数計算</h5>
選択中のランキング表から見た他ランキング表との相関係数（<%= link_to 'スピアマンの順位相関係数', 'http://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%94%E3%82%A2%E3%83%9E%E3%83%B3%E3%81%AE%E9%A0%86%E4%BD%8D%E7%9B%B8%E9%96%A2%E4%BF%82%E6%95%B0' %>）を計算します．<br>
ランキング表をクリックすると他ランキング表にて計算されます．<br>
アイテムが他ランキング表にない場合には最下位分の距離で計算されます．<br>

<br>
<h5>翻訳</h5>
こちらで実装した機能ではありませんが，Google Chrome等を使用の場合，ランキング表はhtmlですのでブラウザの翻訳機能が使用できます．<br>
<br>





        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Yuta Taniguchi, Yusuke Hosoi 2013, <%= link_to 'github', 'https://github.com/yusuke0h/RACE' %> </p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://race-rank.herokuapp.com/" data-text="RACE -ランキングを比較表示できるWebアプリ" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs'); twttr.widgets.load();</script>
      </footer>

    </div> <!-- /container -->
  </body>
</html>